body {
        
    display: grid;
        grid-template-rows: 0.6fr 3fr auto auto;
        grid-row-gap: 2%;
        grid-template-columns: 1fr 90% 1fr;
        grid-template-areas: 
        "nav nav nav" 
        ". header ." 
        " section section section" 
        "footer footer footer";


}

@media  screen and (min-width: 768px) {
    body{
        grid-template-columns: 1fr;
        grid-template-rows: 0.6fr 3fr auto auto;
        grid-template-areas: "nav" "header" "section" "footer";
    }
}