$verdeOscuro: #394a51;
$verdeClaro: #7fa99b;
$cremaClaro: #fbf2d5;
$cremaOscuro: #fdc57b;
$botonPresionado: #f7f7f7;
$colorBlanco: #fcfefe;
$colorNegro: #393e46;
$colorGris: #5c636e;


$nunito: 'Nunito', arial;
$nunitoSans: 'Nunito sans', sans-serif;
$chica: 1.4rem;
$mediana: 1.6rem;
$normal: 1.8rem;
$grande: 2rem;
$enorme: 2.2rem;
$laputaquemepario: #696969;

